# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Chapter_2/Ex1/\.idea/

Chapter_2/Ex1/cmake-build-debug/

Chapter_2/Ex1/CMakeLists\.txt

Chapter_2/Ex2/\.idea/

Chapter_2/Ex2/cmake-build-debug/

Chapter_2/Ex2/CMakeLists\.txt

Chapter_2/Ex3/\.idea/

Chapter_2/Ex3/cmake-build-debug/

Chapter_2/Ex3/CMakeLists\.txt

Chapter_2/Ex4/\.idea/

Chapter_2/Ex4/cmake-build-debug/

Chapter_2/Ex4/CMakeLists\.txt

Chapter_2/Ex5/\.idea/

Chapter_2/Ex5/cmake-build-debug/

Chapter_2/Ex5/CMakeLists\.txt

Chapter_2/Ex6/\.idea/

Chapter_2/Ex6/cmake-build-debug/

Chapter_2/Ex6/CMakeLists\.txt

Chapter_2/Ex7/\.idea/

Chapter_2/Ex7/cmake-build-debug/

Chapter_2/Ex7/CMakeLists\.txt
